body{
    background-color: burlywood;
     width: 700px; /*Control the wight of page */
    margin: 0 auto; /*centers on the page */
}

p{
    font-size: 20px;
}

img, video{
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
  display: inline-block;
  margin-right: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
  display: inline-block;
  margin-right: 20px;
}

html{
    font-size: 150%;
  }
  
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 2rem;
  }